@font-face {
  font-family: Trispaceh1;
  src: url(Fonts/Trispace/static/Trispace-Bold.ttf);
}

@font-face {
  font-family: Trispacebody;
  src: url(Fonts/Trispace/static/Trispace-Light.ttf);
}

@font-face {
  font-family: Trispacea;
  src: url(Fonts/Trispace/static/Trispace-SemiBold.ttf);
}

h1{
  font-family: Trispaceh1;
}

body{
  font-family: Trispacebody;
  display: flex;
  justify-content: center;
  background: repeating-linear-gradient(
    45deg,
    #e67e22,
    #e67e22 10px,
    #d7dbdd 10px,
    #d7dbdd 20px
);
}

#container{
  position: relative;
  top: 100px;
  width: 500px;
}

#hero-image{
  display: flex;
  justify-content: center;
}

#hero-image img{
  width: 500px;
  height: 650px;
}

#content-box{
  background: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 6px 6px 6px 3px rgba(0, 0, 0, .05);
}

ul{
  position: relative;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin: 40px;
}

li{
  margin: 10px;
}

a{
  font-family: Trispacea;
  text-decoration: none;
  padding: 5px;
  color: black;
}

a:hover{
  background: grey;
  color: white;
}

#slider {
  overflow: hidden;
}

#slider figure{
  position: relative;
  width: 600%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img{
  width 33%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -110%;
  }
  45% {
    left: -110%;
  }
  50% {
    left: -240%;
  }
  70% {
    left: -240%;
  }

}
